.hero-ban {
    display:flex;
    margin:20px;
    min-width:800px;
    min-height:200px;
    border-radius: 10px;
    border:1px solid;
    background-color:black;
}

.Welcom {
    display:flex;
    flex-direction: column;
    min-width:670px;
    min-height:90%;
    margin: 20px;
    padding: 10px;
    background-color: #191818;
    border-radius: 5px;
    border: 1px rgb(4, 166, 15) solid;
  }
  .welcon-Pibot {
    display:flex;
    flex-direction: row;
    min-width:710px;
    min-height:55vh;
    padding: 15px;
    color:rgb(0, 124, 27);
    background-color: rgb(35, 35, 35);
    border-radius: 5px;
  }
.user-intro {
    display:flex;
}
.piBot {
    color:antiquewhite;
}
.output-intro {
    display:block;
    width:90%;
    background-color: black;
    align-items:center;
}
.img-content {
    width:64px;
    min-height:100%
}
.outputID {
    text-align:center;
}
.img {
    width:64px;
    height:64px
}